main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.tamagotchi {
  width: 250px;
  min-height: 325px;
  background: #2674BD;
  border: 3px solid #014F98;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tamagotchi-img {
  width: 90%;
  height: 150px;
  margin-top: 3vh;
  border: 3px solid #014F98;
  margin-bottom: 3vh;
}

.tamagotchi_buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tamagotchi-btn {
  width: 50%;
  height: 30px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 800;
  border: 2px solid #014F98;
  border-radius: 5px;
  transition: .2s;
}

.tamagotchi-btn:hover {
  background: #DBDBDB;
}

.tamagotchi-btn:active {
  background: #EDEDED;
}

.actions {
  width: 650px;
  height: 450px;
  border: 3px solid #014F98;
  border-radius: 15px;
  background: #C0FFFF;
  margin-left: 5vh;
  overflow-y: scroll;
}

.actions_container {
  width: 90%;
  margin: 0 auto;
}

.actions-p {
  color: #007500;
  margin-bottom: 0;
  font-weight: 800;
  text-transform: uppercase;
}

.actions-p2 {
  color: #A51818;
  margin-bottom: 0;
  font-weight: 800;
  text-transform: uppercase;
}

.actions-p3 {
  color: #014F98;
  margin-bottom: 0;
  font-weight: 800;
  text-transform: uppercase;
}

.actions-p4 {
  color: #A48200;
  margin-bottom: 0;
  font-weight: 800;
  text-transform: uppercase;
}

.actions-p5 {
  color: #828282;
  margin-bottom: 0;
  font-weight: 800;
  text-transform: uppercase;
}